### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Purchasing Analysis (Total)

In [21]:
player_demographics = purchase_data.loc[:, ['Gender', 'SN', 'Age']]
player_demographics = player_demographics.drop_duplicates()
player_demographics.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [15]:
columns = [
            'Purchase ID',
            'SN',
            'Age',
            'Gender',
            'Item ID',
            'Item Name',
            'Price'            
]
#obtain number of unique items, average price...

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
numusers = len(purchase_data['SN'].unique())
print(numusers)

576

In [17]:
#purchase_gender = purchase_data.loc[purchase_data["Gender"] == 'male', columns]
demlist=  purchase_data(drop_duplicates['Gender'].value_counts()
demlist

SyntaxError: invalid syntax (<ipython-input-17-8e0a81e6bcda>, line 3)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [27]:
male_data = pd.DataFrame(purchase_data.loc[purchase_data['Gender']== 'Male',:])
male_data.head()

male_total = len(male_data['SN'].unique())
all_males = (male_total/numusers)*100
print(all_males)

84.02777777777779

In [18]:
female_data = pd.DataFrame(purchase_data.loc[purchase_data['Gender']== 'Female', :])
female_data.head()

female_total = len(female_data['SN'].unique())
female_total

81

In [20]:
other_data = pd.DataFrame(purchase_data.loc[purchase_data['Gender']== 'Non-Disclosed', :])
other_data.head()

other_total = len(other_data['SN'].unique())
other_total

0


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [31]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 500]

groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_dem['Age'] = pd.cut(player_demographics['Age'], bins, labels=groups)
age_dem


#df["Test Score Summary"] = pd.cut(df["Test Score"], bins, labels=group_names)
#df
#* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
  # Purchase Count
  #Average Purchase Price
  # Total Purchase Value
  # Average Purchase Total per Person by Age Group

NameError: name 'age_dem' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame